<div class="row">
  <div class="col-md-8">
    <h4>Players</h4>
  </div>
  <div class="col-md-4">

    <div class="btn-group bnt-group-sm float-sm-right" role="group" aria-label="Display">
      <button (click)="setView('card')" type="button" class="btn btn-secondary" [class.active]="!isViewTable">
				<i class="fa fa-columns" aria-hidden="true"></i>
			</button>
      <button (click)="setView('table')" type="button" class="btn btn-secondary" [class.active]="isViewTable">
				<i class="fa fa-table" aria-hidden="true"></i>
			</button>
    </div>
    <div class="btn-group bnt-group-sm float-sm-right mr-1" role="group" aria-label="Display">
      <button (click)="addPlayer()" type="button" class="btn btn-outline-primary" [disabled]="canAddPlayer">Pull new player</button>
    </div>
  </div>
</div>
<br>
<p *ngIf="loading">Loading...</p>
<div *ngIf="!loading" class="container-fluid">
  <div *ngIf="!isViewTable" class="">
    <div class="card-columns">
      <!--<div *ngFor="let player of players | async" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">-->
      <div class="card" *ngFor="let player of players | async">
        <div class="card-header">
          <div class="flag-icon flag-icon-{{player.nationality}} mr-1"></div>
          <b>{{player.name}} {{player.surname}}</b>
          <div class="btn-group bnt-group-sm float-sm-right" role="group" aria-label="Display">
            <button type="button" class="btn btn-secondary btn-sm">
							<i class="fa fa-usd" aria-hidden="true"></i>
					  </button>
            <button (click)="deletePlayer(player.$key)" type="button" class="btn btn-secondary btn-sm">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
					  </button>
          </div>
        </div>
        <div class="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">Age</div>
                <div class="col-sm-3">{{player.age}} </div>
                <div class="col-sm-3">Fitness</div>
                <div class="col-sm-3">{{player.fitness}} </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">Batting</div>
                <div class="col-sm-3">{{player.batting}}</div>
                <div class="col-sm-3">Bowling</div>
                <div class="col-sm-3">{{player.bowling}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <table *ngIf="isViewTable" class="table table-striped table-hover">
    <thead>
      <th>Name</th>
      <th>Age</th>
      <th>Batting</th>
      <th>Bowling</th>
      <th>Fitness</th>
      <th></th>
    </thead>
    <tr *ngFor="let player of players | async">
      <td>
        <div class="flag-icon flag-icon-{{player.nationality}} mr-1"></div>
        {{player.name}} {{player.surname}}
      </td>
      <td>{{player.age}}</td>
      <td>{{player.batting}}</td>
      <td>{{player.bowling}}</td>
      <td>{{player.fitness}}</td>
      <td>
        <button (click)="deletePlayer(player.$key)" type="button" class="btn btn-outline-primary btn-sm pull-xs-right m-l-1">
				  <i class="fa fa-trash-o" aria-hidden="true"></i>
			  </button>
        <button type="button" class="btn btn-outline-primary btn-sm pull-xs-right">
				  <i class="fa fa-usd" aria-hidden="true"></i>
			  </button>
      </td>
    </tr>
  </table>
  <br />
</div>
