<div class="row">
  <div class="col-md-8">
    <h4>Matches</h4>
  </div>
  <div class="col-md-4">
    <div class="btn-group bnt-group-sm pull-xs-right" role="group" aria-label="Display">
      <button (click)="arrangeMatch()" type="button" class="btn btn-outline-primary" [disabled]="canArrangeMatch">Arrange match</button>
    </div>
  </div>
</div>
<br>
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
  </thead>
  <tr *ngFor="let match of matches | async">
    <td>{{match | json}}</td>
  </tr>
</table>
