<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>
	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
		<a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
		<ul class="nav navbar-nav">
			<li *ngIf="auth.authenticated" class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/teams']">Teams</a></li>
			<li *ngIf="auth.authenticated" class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/players']">Players</a></li>
			<li *ngIf="auth.authenticated" class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/users']">Users</a></li>
			<li *ngIf="auth.authenticated" class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/matches']">Matches</a></li>
		</ul>

		<ul *ngIf="auth.authenticated" class="nav navbar-nav pull-xs-right">
			<li class="nav-item">
				<a class="nav-link">
					<span *ngIf="!auth.photo">{{ auth.email }}</span>
					<a href="/" class="logout-button"><i (click)="auth.signOut()" class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
					<img *ngIf="auth.photo" src="{{ auth.photo }}" alt="user-photo" class="user-photo img-circle">
				</a>
			</li>
		</ul>

		<ul *ngIf="!auth.authenticated" class="nav navbar-nav pull-xs-right">
			<li class="nav-item">
				<a class="nav-link">
					<button [routerLink]="['/signin']" type="button" class="btn btn-secondary btn-sm pull-xs-right">
						Login
						<i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
					</button>
				</a>
			</li>
		</ul>

	</div>
</nav>

<div class="page-content container-fluid">
	<router-outlet></router-outlet>
</div>
