.page-content {
	padding-top: 20px;
}

.logout-button {
	color: rgba(255, 255, 255, .75);
}

.logout-button:hover {
	color: white;
}

.user-photo {
	width: 32px;
	height: 32px;
}

.navbar {
	padding: 0.2rem 1rem 0.2rem 1rem;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 3px 4px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 3px -2px, rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
	z-index: 20;
}

.navbar-user {
	padding: 0.3rem;
}
