<!--Loading before showing any info-->
<div *ngIf="loading">
	Loading...
</div>

<!--Existing team logging in-->
<div *ngIf="!newUser && !loading && !receivedNewTeam">
	Welcome back {{(team | async)?.name}}!
</div>

<!--Brand new team to choose a new name-->
<div *ngIf="newUser && !loading">
	<div class="container text-xs-center">
		<p>You're new here! Please choose a playing country and name for your new team</p>
		<select class="form-control" id="teamCountry" #teamCountry>
	      <option *ngFor="let country of countries" value="country">{{country}}</option>
    	</select>
		<br>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Team Name" id="teamName" #teamName (keyup.enter)="createTeam(teamName, teamCountry)" ngControl="teamName">
		</div>

		<button (click)="createTeam(teamName, teamCountry)" type="button" class="btn btn-primary">Start!</button>
	</div>
</div>

<!--New team just created-->
<div *ngIf="!loading && receivedNewTeam">
	<img src="/assets/fireworks.gif" alt="fireworks">
	<br>
	<p>Congratulations on your new team! Meet your new players...</p>
	<br>
	<button [routerLink]="['/players']" type="button" class="btn btn-secondary">
			Players
	</button>
</div>
